body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff; /* Adjust as needed */
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333; /* Navigation background color */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.homehero {
    background-image: url('images/beige-damask-2491649_1280.jpg');
    height: 400px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; /* Footer background color */
    color: white; /* Footer text color */
}
































